<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<connectionStrings>
		<!--数据库连接-->
		<!--<add name="DefaultConnection" connectionString="Data Source=sqlite.db;Version=3;"/>-->
		<!--<add name="DefaultConnection" connectionString="server=localhost;database=litesql_test;user id=root;password=123456;character set=gbk; min pool size=10; max pool size=50;"/>-->
		<!--<add name="DefaultConnection" connectionString="server=localhost;database=litesql_test;user id=root;password=123456;character set=utf8mb4; min pool size=10; max pool size=50;"/>-->
		<add name="DefaultConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));Persist Security Info=True;User Id=shiny;Password=shiny;" />
		<add name="MySQLConnection" connectionString="server=localhost;database=litesql_test;user id=root;password=123456;character set=gbk; min pool size=10; max pool size=50;" />
	</connectionStrings>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="200" />
		</connectionManagement>
	</system.net>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />

			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

