<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!--数据库连接-->
    <add name="DefaultConnection" connectionString="HOST=localhost;PORT=5432;DATABASE=postgres;USER ID=postgres;PASSWORD=123456;"/>
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="200"/>
    </connectionManagement>
  </system.net>
</configuration>
