<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--数据库连接-->
    <add name="DefaultConnection" connectionString="server=localhost;database=litesql_test;user id=root;password=123456;character set=utf8mb4; min pool size=10; max pool size=50;"/>
  </connectionStrings>
</configuration>
